@import '../../styles/variables.scss';

body{
    background: $backgroundColor;
}

.form-body-register {
    display: grid;
    place-content: center;
    align-items: center;
    margin-top: 20%;
}

.register-button{
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: $primaryColor;
    border-radius: 999px;
    width: 100%;
    border: none;
}

.register-button:hover{
    background-color: $secondaryColor; 
    color: $white;
}