@import '../../styles/variables';

.navbar{
  background-color: white; 
  
  .loginregister {
    display:flex;
    align-items: center;
    background-color: $primaryColor;
    justify-content: flex-end;
  }

  .login-register-button{
    cursor: pointer;
    padding: 6px 16px;
    background-color: white;
    border: none;
  }

  .login-register-button:hover{
    background-color: $primaryColor;
  }
  .modal{
    color: black;
    font-size: 56px;
  }
}
