.card-container{
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: #8c8c8c 0px 2px 6px 0px;
    display: flex;
    margin: 1rem ;
    padding: 30px 15px 17px;
    text-align: center;
    min-height: 350px;
    max-width: 300px;
    cursor: pointer;
    transition: all 0.05 ease-in-out;

    &:hover{
        transform: scale(1.1);
        box-shadow: 0 5px 20px black;
    }
    .card{
        background-color: #e1e2e7;
        border: none;
    }

  }
  .card-img{
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  
  .card-title{
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    color: #3c3c3b;
    margin: 1rem 0;
    text-transform: capitalize;
    height: 70px;
  }

  .card-price{
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    font-weight: 500;
  }